 <nav class="navbar navbar-expand-lg navbar-light navbar-beige fixed-top"> 
      <div class="container-fluid">
      <a class="navbar-brand" href="">
        <img src="../../../assets/Artisan.png" alt="Artisan Logo" style="height: 70px;">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <div></div>
        </span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
           <a class="nav-link sansation-regular-nav" routerLink="/home" routerLinkActive="active-link-class">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sansation-regular-nav" routerLink="/profile" routerLinkActive="active-link-class">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sansation-regular-nav" routerLink="/marketplace">Marketplace</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sansation-regular-nav" routerLink="/charts">Charts</a>
        </li>
        <li class="nav-item ms-lg-2">
          <button class="btn custom-button sansation-regular-nav" routerLink="/login" routerLinkActive="active-link-class">Login</button>
        </li>
        </ul>
      </div>
      </div>
    </nav>