<div class="container-fluid mt-5 mb-0">
        <div class="row mb-0">
            <div class="col">
                <h1 class="display-4 artisan-title mb-0">Artisan</h1>
            </div>
        </div>
        <div class="row g-3 align-items-stretch">
            <div class="col-lg-6 d-flex flex-column">
                <img style="object-fit: cover;" src="https://preview.redd.it/a87jv3cmoix41.png?width=1080&crop=smart&auto=webp&s=4021a74a2944977d6d1b86f89396f399fcf7f848" class="img-fluid rounded h-100"> <!-- Added h-100 -->
            </div>
    
            <div class="col-lg-6 d-flex flex-column align-items-stretch">
                <div class="row g-3">
                    <div class="col-12">
                        <img style="object-fit: cover;" src="https://r4.wallpaperflare.com/wallpaper/500/922/542/digital-art-minjuart-mountains-trees-clouds-hd-wallpaper-f94038dd919a0dab06c7a8ff4091764d.jpg" class="img-fluid rounded">
                    </div>
                </div>
                <div class="row g-3 mt-auto">
                    <div class="col-6">
                        <img style="object-fit: cover;" src="https://i.pinimg.com/736x/80/6e/3d/806e3d6b9d895283bea53e923871bce3.jpg" class="img-fluid rounded">
                    </div>
                    <div class="col-6">
                        <img style="object-fit: cover;" src="https://media.istockphoto.com/id/1482224356/vector/color-cartoon-smoke-effects-on-gray-background.jpg?s=612x612&w=0&k=20&c=-2ZrT4JG_9OZJh0WJs8HFZqPeRXo9sflnZEx5tZA0k0=" class="img-fluid rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<div class="container p-3"></div>
<div class="container-fluid text-center p-5 mt-3" >
    <div style="max-width: 700px;" class="mx-auto">
        <h1 class="sansation-regular-p">A platform for artists</h1>
        <h1 class="sansation-regular-p">by artists</h1>
        <p class="sansation-regular lead mb-4">Artista is a platform built by artists, for artists. A creative space where
            expression meets support, and independence is power. Whether you paint, code, compose, or perform, Artista gives you the tools to showcase, sell, and collaborate without gatekeepers.</p>
      </div>
</div>
<hr class="g-5 my-5">
<div class="container p-3">
  <div class="row g-3 align-items-center">
    <div class="col-md-6">
      <h1 class="sansation-regular-p">Countless works</h1>
      <p class="sansation-regular lead mb-4">Your place is here whether you want to share your art, learn through a course, 
        or support other artists.</p>
        <button class="button-calltoaction">Explore</button>
    </div>
    <div class="col-md-6 text-center">
      <div class="img-container" style="width: 100%; max-width: 500px; margin: 0 auto;">
        <img src="https://w0.peakpx.com/wallpaper/762/465/HD-wallpaper-capturing-the-new-landscapes-artist-artwork-digital-art-artstation.jpg" class="img-fluid rounded" style="object-fit: cover; width: 100%; height: auto;">
      </div>
    </div>
  </div>
</div>
<hr class="g-5 my-5">
<div class="container p-3">
  <div class="row g-3 align-items-center">
    <div class="col-md-6">
      <h1 class="sansation-regular-p">Made for you</h1>
      <p class="sansation-regular lead mb-4">Your place is here whether you want to share your art, learn through a course, 
        or support other artists.</p>
      <button class="button-calltoaction">Register</button>
    </div>
    <div class="col md-6 text-center">
      <div class="img-container" style="width: 100%; max-width: 500px; margin:0 auto;">
        <img src="https://images.squarespace-cdn.com/content/v1/52006914e4b0800e68bb4171/2da543a1-7d81-4b2f-87e8-fa9eaa4c16de/de_char_marauder2E.jpg" class="img-fluid rounded" style="object-fit: cover; width:100%; height:300px;">
      </div>
    </div>
  </div>
</div>
