<div class="container d-flex justify-content-center align-items-center min-vh-100">
      <div class="card shadow-sm" style="width: 50rem; border-radius: 15px; border: 1px solid #dadce0;">
        <div class="card-body p-0">
          <div class="row g-0">
            <div class="col-md-6 d-none d-md-flex flex-column justify-content-center align-items-center p-5 border-end picture-in-bg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/lois-van-baarle-blackbird_LEAD-600x568.jpg');">
              <h1 class="display-4 artisan-title mb-0" style="font-size: 50px; padding-bottom: 15px; color: #dadce0;">Artisan</h1>
              <h2 class="text-center sansation-regular" style="color: #dadce0;">Welcome Back!</h2>
              <p class="text-center sansation-regular" style="color: #dadce0;">Sign in to continue</p>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center p-5">
              <h3 class="card-title text-center mb-4 sansation-bold">Sign in</h3>
              <form>
                <div class="mb-3">
                  <input type="email" class="form-control form-control-lg" id="loginEmail" placeholder="Email address" style="border-radius: 4px;">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control form-control-lg" id="loginPassword" placeholder="Password" style="border-radius: 4px;">
                </div>
                 <div class="text-start mb-3">
                  <a href="#" class="sansation-regular" style="font-size: 0.9em;">Forgot password?</a>
                </div>
                <div class="d-grid mb-3">
                  <button type="submit" class="btn custom-button sansation-regular-nav btn-lg">Login</button>
                </div>
                 <div class="text-center mt-4">
                   <p class="sansation-regular mb-1" style="font-size: 0.9em;">Don't have an account?</p>
                   <a class="btn btn-link sansation-regular-nav" routerLink="/register">Create account</a>
                 </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>