 <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow-sm" style="width: 50rem; border-radius: 15px; border: 1px solid #dadce0">
            <div class="card-body p-0">
                <div class="row g-0">
                    <div class="col-md-6 d-none d-md-flex flex-column justify-content-center align-items-center p-5 border-end picture-in-bg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/77qowd7wmby61.jpg');">
                        <div class="display-4 artisan-title mb-0" style="font-size: 50px; padding-bottom: 15px; color: #dadce0;">Artisan</div>
                        <h2 class="text-center sansation-regular" style="color: #dadce0;">Welcome!</h2>
                        <p class="text-center sansation-regular" style="color: rgba(255, 255, 255, 0.8);">Register to access the website.</p>
                    </div>
                    <div class="col-md-6 d-flex flex-column justify-content-center p-5">
                        <form>
                            <div class="mb-3">
                               
                                <input type="username" class="form-control form-control-lg" id="username" placeholder="Username" style="border-radius: 4px;">
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control form-control-lg" id="registerEmail" placeholder="Email address" style="border-radius: 4px;">
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control form-control-lg" id="registerEmailAgain" placeholder="Email adress again" style="border-radius: 4px;">
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control form-control-lg" id="registerPassword" placeholder="Password" style="border-radius:  4px;">
                                <p class="text-muted sansation-regular" style="font-size: 13px;">Needs to be atleast 8 characters, with special characters and at least one capital letter</p>
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control form-control-lg" id="registerPasswordAgain" placeholder="Password again" style="border-radius:  4px;">
                            </div>
                            <div class="d-grid mb-3">
                                <button type="submit" class="btn custom-button sansation-regular-nav btn-lg" routerLink="/list">Register</button>
                                <p class="text-muted sansation-regular text-center" style="font-size: 15px; padding-top: 5px;">Never give your password to anyone</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>