<hr class="g-5 my-3" style="background-color: #deddb6;">
<div class="container p-3" style="margin-left: 5px;">
  <div class="row container-fluid">
    <div class="container-fluid">
      <div class="d-flex">
        <p class="sansation-regular lead mb-2 me-3">support&#64;artisan.info</p>
        <p class="sansation-regular lead mb-2 me-3">© 2025 Artisan Inc.</p>
        <p class="sansation-regular lead mb-2">All rights reserved</p>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>